.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-container{
  max-width: 350px;
  max-height: 350px;
  margin: 30px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.product-img {
  max-width: 200px;
  max-height: 200px;
}
